body, html {
    background-color: #FCFCFC;
}

img {
    border-radius: 10px;
    margin: auto;
    display: block;
}

code {
    color: #444 !important;
}

#documenter-page {
    margin: 80px;
}

pre, code, kbd {
    font-family: system fallbacks, monospace;
}